# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Environment variables
.env
*.env
!.env.example

# Node.js
node_modules/
dist/
build/
.vite/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini